.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: white;
}

.meCont {
  position: relative;
}

.end {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.infoCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin-left: 20px;
}

.title {
  font-size: 4rem;
  font-weight: 900;
}

.moreinfo {
  color: white;
  word-wrap: normal;
  border-left: 6px solid var(--white);
  padding-left: 40px;
  font-size: 1.5rem;
  line-height: 200%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.moreinfo:hover {
  text-shadow:
    0 0 7px var(--blue),
    0 0 10px var(--blue),
    0 0 21px var(--blue);
}

.contact {
  display: flex;
  justify-content: center;
  color: var(--highlight);
  cursor: pointer;
  margin-top: 20px;
  padding: 20px;
  font-size: 1.25rem;
  width: 100%;
  border-left: 6px solid var(--highlight);
  transition: all 0.75s ease-in-out;
}

.contact:hover {
  filter:brightness(1.2);
  border-color: var(--white);
  color: white;
  background-color: var(--bg-highlight);
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
  .meCont {
    display: flex;
    justify-content: center;
  }
  .infoCont {
    width: 90%;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 3rem;
  }
  .moreinfo {
    font-size: 1.15rem;
    border-left: 3px solid var(--white);
  }
  .contact {
    font-size: 1.15rem;
    border-left: 3px solid var(--highlight);
  }
}