
.main {
  display: flex;
  flex-direction: row;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Roboto;
  position: relative;
  top: 0;
  left: 0;
}

.notme {
  position: absolute;
  z-index: 1;
  width: 100px;
  font-weight: bold;
}

.leftside {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introcont {
  display: flex;
  flex-direction: row;
}

.intro {
  font-size: 4rem;
}
.intro2 {
  font-size: 4rem;
}

.intronext {
  font-size: 2.25rem;
}

.buttonCont {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.buttonCont div {
  display: flex;
  justify-content: center;
  border-left: 6px solid var(--highlight);
  padding: 20px;
  margin: 10px;
  width: 180px;
  color: var(--highlight);
  font-size: 1.35rem;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
}

.buttonCont div:hover {
  filter:brightness(1.2);
  border-color: var(--white);
  color: white;
  background-color: var(--bg-highlight);
}

.rightside {
  position: relative;
  width: 50%;
  height: 100%;
  
}

.guy {
  overflow: hidden;
  min-width: 960px;
  min-height: 1444px;
}

.guybar {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  min-width: 960px;
  min-height: 1444px;
}



@media (max-width: 1000px) {
  .rightside {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .leftside {
    width: 100%;
    z-index: 1;
  }
  .guybar {
    filter: blur(2px);
  }
  .intro {
    font-size: 3rem;
    -webkit-text-stroke: 1px var(--mobile-text-highlight);
    background-color: rgba(17, 14, 14, 0.75);
  }
  .intro2 {
    font-size: 3rem;
    -webkit-text-stroke: 1px var(--mobile-text-highlight);
    background-color: rgba(17, 14, 14, 0.75);
  }
  
  .intronext {
    font-size: 1.75rem;
    -webkit-text-stroke: 1px var(--mobile-text-highlight);
    background-color: rgba(17, 14, 14, 0.75);
  }
  
  .buttonCont div {
    border-left: 3px solid var(--highlight);
    font-size: 1.15rem;
    width: 150px;
    padding: 10px;
    background-color: rgba(17, 14, 14, 0.75);
  }
}

@media (max-width: 600px) {
  
}



